<template>
  <div class="controls">
      <div class="row">
        <div class="col">
          <button><font-awesome-icon icon="step-backward" class="fa-grey"/></button>
          <button  v-if="!session.playing" v-on:click="play()"><font-awesome-icon icon="play" class="fa-grey"/></button>
          <button v-else v-on:click="pause()"><font-awesome-icon icon="pause" class="fa-grey"/></button>
          <button><font-awesome-icon icon="step-forward" class="fa-grey"/></button>
          <button v-on:click="stop()"><font-awesome-icon icon="stop" class="fa-grey"/></button>
          <button v-on:click="loop()"><font-awesome-icon icon="redo" class="fa-grey"/></button>  
        </div>        
      </div>
      <div class="row">
        <div class="col">
          <div class="progress mt-1">
            <div class="progressbar" v-bind:style="{width:progress}"></div>
          </div>
        </div>
      </div>
      
  </div>
</template>

<script>
export default {
  name: 'controls',
  data () {
    return {
      playing:false,
      looping:true,
      progress:50
    }
  },
  methods:{
    calcWidth:function(){
      //GET ACTUAL PROGRESS
      return 'width:5%'
    },

    play:function(){
      this.callCommand("play")
      this.playing =true;
    },
    pause:function(){
      this.callCommand("pause")
      this.playing = false;
    },

    stop:function(){
      this.callCommand("stop")
      this.playing=false;
    },

    last:function(){},

    next:function(){},

    loop:function(){},

    callCommand:function(c){
      this.session.axios.get("http://127.0.0.1:2900/command/"+c)
    }
  },
  props: {
    session: {
      type: Object
    }
 
  } 
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
   .controls-container{
    display:flex;
    flex-flow:row nowrap;
    justify-content: space-between;
  }

  .fa-white{
    color:white;
  }
  .fa-grey{
    color:grey;
  }
  .controls-button{
    width:32px;
    height:32px;
    background-color:steelblue;
    border-radius:5px;
    box-shadow: rgba(0,0,0,.25) 1px 1px 3px;
    display:flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
</style>
