<template>
  <div class="player mt-2">
      <h4>{{session.player.song.url}}</h4>
      <Controls v-bind:session="session"/>
  </div>
  
</template>

<script>

import Controls from "@/components/Controls"
export default {
  name: 'Player',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App'
    }
  },
  components:{
    Controls
  },
  props: {
    session:Object 
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
 
</style>
