<template>
  <div class="container">    
    <div class="row mt-2">
      <div class="col">
        <h2>Serial Ports</h2>
        <p>Current status of connectivity to serial ports (for use with arduino)</p>        
      </div>
      
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope='col'>Device Name</th>
            <th scope='col'>Port</th>
            <th scope='col'>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="device in session.serial_status">
            <td>{{device.device_name}}</td>
            <td>{{device.port}}</td>
            <td>{{device.status}}</td>
            <td><button v-on:click="connect(device.device_name)">Connect</button></td>
          </tr>
          
        </tbody>
       
      </table>
    </div>  
  </div>
</template>

<script>

export default {
  name: 'SerialStatus',
  data () {
    return {
      
      
    }
  },
  components:{
    
  },
  props: {
    session:Object 
  },
  methods:{
    connect:function(port){
      var ax = this.session.axios;
      ax.get("http://127.0.0.1:2900/command/connect?port="+port)
      
    }
   
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
 
</style>
