<template>
  <div class="TrackSelect">
      <div class="container">
        <div class="row">
          <div class="col">
            <ul class="list-group">
              <li class="list-group-item list-group-item-action" v-for="track in session.available_songs" v-on:click="select(track)" v-bind:class="{active:track.selected}">
                <div class="row">
                  <div class="col-1"><font-awesome-icon icon="music" class="fa-grey"/></div>
                  <div class="col"><span>{{track.name}}</span></div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
  </div>
  
</template>

<script>

export default {
  name: 'TrackSelect',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App',
      selected: null
    }
  },
  methods:{
    select:function(t){
      this.session.axios.get("http://127.0.0.1:2900/command/load?url="+t.name)
    }
  },
  props: {
    session:Object 
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .list-group-item{
    padding:;
  }
</style>
