<template>
  <div id="app">
    <div class="container">   
      <div class="row">
        <div class="col">
          <Player v-bind:session="session"></Player>
        </div>
      </div>   
      <div class="row mt-3">
        <TrackSelect v-bind:session="session"></TrackSelect>
      </div> 
      <div class="row mt-3">
        <SerialStatus v-bind:session="session"></SerialStatus>
      </div>      
    </div>
  </div>
</template>

<script>
import axios from "axios"
import Player from "@/components/Player.vue"
import SerialStatus from "@/components/SerialStatus.vue"
import TrackSelect from "@/components/TrackSelect.vue"
var delay = 500;
export default {
  name: 'App',
  components: {
    Player: Player,
    TrackSelect:TrackSelect,
    SerialStatus:SerialStatus
  },
  data:function(){
    return {
      tracklist:[{name:"Mary Had a Little Lamb",url:"ASDASD"},{name:"asdasd",url:"ASDASD"},{name:"asdasd",url:"ASDASD"}],
      session:{}
    }
  },
  methods:{
    loadData: function () {
      var address = "http://127.0.0.1:2900/get_session"
      axios.get(address)
        .then(response => {
          // JSON responses are automatically parsed.
          this.posts = response.data;
          console.log(this.posts)
          this.session = response.data;
          this.session.axios = axios;
        })
        .catch(e => {
          console.log(e);
          // this.errors.push(e)
        })
    }
  },
  mounted: function () {
    this.loadData();
    setInterval(function(){
      this.loadData();
    }.bind(this),250);
    
  }
}
</script>

<style>
#app {
}

.tight-spacing{
  padding-bottom:5px;
}
</style>
